body {background-color: coral;}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.container {
  border: 10px solid orange;
  width: 97%;
  top: 1px;
  left: 1px;
  position: fixed;
}

.header {
  text-align: center;
}

.tim {
  width: 25%;
  float: left;
  padding: 3px;
}
